@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  background-color: #282a36;
  color: #f8f8f2;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 20px;
  padding: 20px;
  border: 1px solid #bd93f9;
}

a {
  text-decoration: none;
  color: #bd93f9;
}

a:visited {
  color: #bd93f9;
}

a:hover {
  text-decoration: underline;
}